<form th:action="@{/admin/assign-task}" method="post" th:object="${task}">
    <label>タイトル: <input type="text" th:field="*{title}" placeholder="タスクのタイトル"/></label><br/>
    <label>説明: <textarea th:field="*{description}" placeholder="タスクの説明"></textarea></label><br/>

	<select th:field="*{assignedTo}" required>
	    <option value="">割り当てるユーザーを選択</option>
	    <option th:each="user : ${users}" 
	            th:value="${user.id}" 
	            th:text="${user.username}"></option>
	</select>

    <button type="submit">課題を割り当てる</button>
</form>
