<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ホームページ</title>
</head>
<body>
	<h1>ようこそ、[[${#httpServletRequest.remoteUser}]] さん！</h1>

	<p>ログインに成功しました。</p>
	<p>ここにはあなたの学習記録や進捗が表示されます。</p>

	<ul>
	    <li><a href="/register">ユーザー登録ページ</a></li>
	    <li><a href="/user/tasks">タスク一覧ページ</a></li>
		<li><a href="/user/progress">タスク進捗状況</a></li>
		<li><a th:href="@{/user/tasks/new}">新しいタスクを作成</a></li>
	</ul>


	<!-- 新規登録画面から一覧に戻る -->
	<a th:href="@{/user/tasks}">← 戻る（一覧）</a>

	<!-- どこからでもホームに戻れる -->
	<a th:href="@{/home}">🏠 ホーム</a>
</body>
</html>
