<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー登録</title>
</head>
<body>
    <h2>新規ユーザー登録</h2>

	<form action="#" th:action="@{/register}" th:object="${user}" method="post">
	    <label>ユーザー名: <input type="text" th:field="*{username}" /></label><br>
	    <label>パスワード: <input type="password" th:field="*{password}" /></label><br>

	    <label>ロールを選択：</label><br>
	    <input type="radio" name="selectedRole" value="ROLE_USER" checked> 一般ユーザー<br>
	    <input type="radio" name="selectedRole" value="ROLE_ADMIN"> 管理者<br>

	    <button type="submit">登録</button>
	</form>


    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
</body>
</html>
